/* -------------------------------- */
/* ----------- R e s et ----------- */
/* -------------------------------- */

/* Box sizing rules */
html {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
picture,
blockquote {
  margin: 0;
  padding: 0;
}
/* Percentage based heights */
html, body {
  height: 100%;
}

/* make image easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* make svg hover easier */
svg {
  fill: currentColor;
}

/* make form easier to work with */
input, button, textarea, select {
  letter-spacing: inherit;
  word-spacing: inherit;
  font: inherit;
}

/* More sensible line-wrapping */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* reset link default syles */
a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* React Framework Specific */
#root, #__next {
  isolation: isolate;
}

/* Set core body defaults */
.page__body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}



/* -------------------------------- */
/* ------- Utility Classews ------- */
/* -------------------------------- */


/* set up containers */
.site-container {
  overflow: hidden;
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin-inline: auto;
  padding-inline: var(--container-offset);
  max-width: var(--container-fluid-width);
}


/* display utility classes */
.flex {
  @include flex;
}

.grid {
  display: grid;
}

.d-block {
  display: block;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}


/* utility classes for reseting som default styles*/
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: var(--color-white);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* sr only utility class */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/* focus visible class */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}


/* Disable scroll */
.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overscroll-behavior: none;
}

/* Disable scroll on ios devaices */
.page--ios .dis-scroll {
  position: relative;
}

/* Align elements to center */
.centered {
  text-align: center;
}

/* Inherit Box sizing to swiper js swiper wrapper class */
.swiper-wrapper {
  box-sizing: inherit;
}

/* --------------------------------- */
/* --------- Color Classes --------- */
/* -------------------------------- */

/* Backgorund colors */
.bg-dark {
  background-color: hsl(var(--color-dark));
}
.bg-accent {
  background-color: hsl(var(--color-light));
}
.bg-white {
  background-color: hsl(var(--color-white));
}

/* Text colors */
.text-dark {
  color: hsl(var(--color-dark));
}
.text-accent {
  color: hsl(var(--color-light));
}
.text-white {
  color: hsl(var(--color-white));
}

/* Colors with Alpha channel*/
.alpha {
  background-color: hsl(var(--color-light) / .2);
}

/* -------------------------------- */
/* ------ Typography Classes ------ */
/* -------------------------------- */

/* Font Sizes */
.fs-200 {
  font-size: var(--font-size-200);
}
.fs-300 {
  font-size: var(--font-size-300);
}
.fs-400 {
  font-size: var(--font-size-400);
}
.fs-500 {
  font-size: var(--font-size-500);
}
.fs-600 {
  font-size: var(--font-size-600);
}
.fs-700 {
  font-size: var(--font-size-700);
}
.fs-800 {
  font-size: var(--font-size-800);
}
.fs-900 {
  font-size: var(--font-size-900);
}

/* Text Transform Class */
.uppercase {
  text-transform: uppercase;
}